################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/FiapStore/FileContentIndex
/.vs/FiapStore/DesignTimeBuild/.dtbcache.v2
/.vs/FiapStore/v17/.futdcache.v2
